# docker/docker-compose.yml

version: "3.9"

services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: cern-multimodal-rag-app
    ports:
      - "8501:8501"
    env_file:
      - ../.env
    volumes:
      - ../data:/app/data
      - ../uploads:/app/uploads
      - ../lancedb:/app/lancedb
    restart: unless-stopped
